.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.ftco-animated {
  opacity: 1;
  visibility: visible;
}

/* Animation effects */
.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.fadeInUp {
  animation: fadeInUp 1s ease-in-out;
}

.fadeInLeft {
  animation: fadeInLeft 1s ease-in-out;
}

.fadeInRight {
  animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}